@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 329 42% 99%;
    --foreground: 329 58% 1%;
    --muted: 89 13% 94%;
    --muted-foreground: 89 11% 30%;
    --popover: 329 42% 99%;
    --popover-foreground: 329 58% 1%;
    --card: 329 42% 98%;
    --card-foreground: 329 58% 0%;
    --border: 329 3% 92%;
    --input: 329 3% 92%;
    --primary: 329 42% 16%;
    --primary-foreground: 329 42% 76%;
    --secondary: 89 42% 16%;
    --secondary-foreground: 89 42% 76%;
    --accent: 209 42% 16%;
    --accent-foreground: 209 42% 76%;
    --destructive: 18 91% 31%;
    --destructive-foreground: 18 91% 91%;
    --ring: 329 42% 16%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 329 43% 1%;
    --foreground: 329 28% 100%;
    --muted: 89 13% 6%;
    --muted-foreground: 89 11% 70%;
    --popover: 329 43% 1%;
    --popover-foreground: 329 28% 100%;
    --card: 329 43% 2%;
    --card-foreground: 0 0% 100%;
    --border: 329 3% 12%;
    --input: 329 3% 12%;
    --primary: 329 42% 16%;
    --primary-foreground: 329 42% 76%;
    --secondary: 89 42% 16%;
    --secondary-foreground: 89 42% 76%;
    --accent: 209 42% 16%;
    --accent-foreground: 209 42% 76%;
    --destructive: 18 91% 53%;
    --destructive-foreground: 0 0% 0%;
    --ring: 329 42% 16%;
  }
}




html,
body,
:root{
  height: 100%;

}
.neo_button {
  @apply grid place-items-center px-[2rem] border-none text-white bg-black relative cursor-pointer;
  transition: 0.2s ease-in-out;
  outline: none;
  border-radius: 3rem;
  a {
    @apply m-0 min-h-[14px] uppercase text-center text-white;
    line-height: 1;
    text-decoration: none;
  }
  
  &::before {
    content: "";
    @apply absolute opacity-0 ;
    top: -2px;
    left: -2px;
    z-index: -10;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    background: linear-gradient(
        45deg,
        rgb(255, 0, 0),
        rgb(255, 115, 0),
        rgb(255, 251, 0),
        rgb(72, 255, 0),
        rgb(0, 255, 213),
        rgb(0, 43, 255),
        rgb(122, 0, 255),
        rgb(255, 0, 200),
        rgb(255, 0, 0)
      )
      0% 0% / 400%;
    animation: NeonColor 20s linear 0s infinite normal none running ;

    transition: opacity 0.3s ease-in-out;
    border-radius: 10rem;

    /* background-image: linear-gradient(from rigth #fff to left #888) ; */
  }
  &::before{
    opacity: 1;
  }
}

@keyframes NeonColor {
  0% {
    background-position: 0px 0px;
  }

  50% {
    background-position: 400% 0px;
  }

  100% {
    background-position: 0px 0px;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
  
.gradient{
  @apply bg-gradient-to-br from-primary/50 from-20% to-secondary/80 
}